<div class="h-screen w-screen flex justify-center items-center">
    <div class="text-center flex flex-col gap-2">
        <h1 class="text-5xl">Pigeon</h1>
        <p class="text-md text-gray-400">Send chirps to fellow birbs</p>
        <div class="mt-1">
            <button
                class="rounded-md bg-blue-500 text-slate-100 px-8 py-3 hover:opacity-85"
                type="button"
                (click)="login()"
            >
                Sign In
            </button>
        </div>
    </div>
</div>
